global !p
def math():
    return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal

context "math()"
snippet det "determinant" wA
\det 
endsnippet

context "math()"
snippet id "identity" wA
\id 
endsnippet

context "math()"
snippet ker "kernel" wA
\ker 
endsnippet

context "math()"
snippet coker "cokernel" wA
\coker 
endsnippet

context "math()"
snippet img "image" wA
\img 
endsnippet

context "math()"
snippet Hom "Homomorphism" wA
\Hom 
endsnippet

context "math()"
snippet End "Endomorphism" wA
\End 
endsnippet

context "math()"
snippet Aut "Automorphism" wA
\Aut 
endsnippet

context "math()"
snippet Frac "Fraction Field" wA
\Frac 
endsnippet

context "math()"
snippet sin "sine" wA
\sin 
endsnippet

context "math()"
snippet cos "cosine" wA
\cos 
endsnippet

context "math()"
snippet tan "tangent" wA
\tan 
endsnippet

context "math()"
snippet log "logarithm" wA
\log 
endsnippet

context "math()"
snippet exp "exponential" wA
\exp 
endsnippet

context "math()"
snippet rank "rank" wA
\rank 
endsnippet

context "math()"
snippet dim "dimension" wA
\dim 
endsnippet

context "math()"
snippet deg "degree" wA
\deg 
endsnippet

context "math()"
snippet dd "differential" wA
\dd 
endsnippet

context "math()"
snippet char "characteristic" wA
\Char 
endsnippet

context "math()"
snippet OP "operator" wA
\operatorname{$1}
endsnippet

context "math()"
snippet Spec "spectrum" w
\Spec 
endsnippet

context "math()"
snippet Proj "projective" w
\Proj 
endsnippet

context "math()"
snippet Gal "galois group" w
\Gal 
endsnippet

context "math()"
snippet sgn "sign" w
\sgn 
endsnippet

context "math()"
snippet arcsin "inverse sine" w
\arcsin 
endsnippet

context "math()"
snippet arccos "inverse cosine" w
\arccos 
endsnippet

context "math()"
snippet arctan "inverse tangent" w
\arctan 
endsnippet

context "math()"
snippet Tor "Tor functor" w
\Tor 
endsnippet

context "math()"
snippet Ext "Ext functor" w
\Ext 
endsnippet
